<div class="bookings-container">
  <% if current_user.photographer? %>
    <% @bookings.each do |booking| %>
      <div class="booking-card">
        <p class="booking-name">Client: <%= booking.user.full_name %></p>
        <p class="booking-email"><%= booking.user.email %></p>
        <p class="booking-date">Booked for <%= booking.date %></p>
      </div>
    <% end %>
  <% else %>
    <% @bookings.each do |booking| %>  
      <div class="booking-card">
        <p class="booking-name">Photographer: <%= booking.photographer.full_name %></p>
        <p class="booking-email">Email: <%= booking.photographer.email %></p>
        <p class="booking-date">Booked for <%= booking.date.strftime('%-I:%M %p, %B %d, %Y') %></p>
      </div>
    <% end %>
  <% end %>
</div>


